// PlayerList.scss
.player-list {
    list-style: none;
    padding: 0;
  }
  
  .player-item {
    padding: 5px;
    font-size: 1.1em;
    color: white;
  }
  
  .player-item.active {
    color: #ff0000;
    font-weight: bold;
  }
  
  .player-item .microphone-icon {
    color: #00ff00;
  }
  